.nav-username {
    color: white;
    font-size: 18px;
  }
  .initial-circle {
    background-color: white;
    color: #0c5460;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-size: 22px;
  }